header {
    text-align: center;
    padding: 10px;
}
main {
    padding: 10px;
}
.button1 {
    font-size: 18px;
    border-radius: 10px;
    border-color: #7d6567;
    color: #7d6567;
    height: 40px;
    width: 400px;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }